﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @* @Scripts.Render("~/bundles/modernizr")*@
  

    <style>
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        :root {
            --hover: #333;
        }

        #sidenavAccordion {
            background-color: white;
            border-inline-end: 1px solid gray;
        }

        .leftNav {
            overflow: hidden !important;
        }

        .leftSide {
            width: 80px !important;
            transition: width 0.5s !important;
        }

            .leftSide.active {
                width: 224px !important;
            }

        .icon {
            color: #333 !important;
            padding-inline-start: 4px;
            padding-inline-end: 11px;
            transition: 0.5s;
        }

            .icon svg {
                width: 40px !important;
                height: 40px !important;
            }

        .links:hover .icon svg {
            color: var(--bg);
        }

        .nav a {
            white-space: nowrap;
            transition: 0.5s;
            color: gray !important;
        }

            .nav a:hover {
                color: var(--bg) !important;
                white-space: nowrap;
                transition: 0.5s;
            }

        .links:hover {
            background-color: var(--hover);
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }

        .leftSide.active .titles {
            color: #257374 !important;
        }
    </style>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color:#1f2c38;">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Tienda Lorinos</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Correo del usuario</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("Index","Acceso")">Cerrar sesion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" class="leftSide active">
            <nav class="sb-sidenav accordion sb-sidenav-dark leftSide-content" id="sidenavAccordion">
                <div class="sb-sidenav-menu leftNav">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading titles">Resumen</div>
                        <a class="nav-link links" href="@Url.Action("Index","Home")" style="--bg:#ffa117;">
                            <div class="sb-nav-link-icon icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link links" href="@Url.Action("Clientes","Home")" style="--bg:#f44336;">
                            <div class="sb-nav-link-icon icon"><i class="fas fa-users"></i></div>
                            Clientes
                        </a>

                        <div class="sb-sidenav-menu-heading titles">Transacciones</div>
                        <a class="nav-link links" href="@Url.Action("Index","Transacciones")" style="--bg:#0fc70f;">
                            <div class="sb-nav-link-icon icon"><i class="fas fa-comments-dollar"></i></div>
                            Enviar
                        </a>
                        <a class="nav-link links" href="@Url.Action("Marca","Mantenedor")" style="--bg:#2196f3;">
                            <div class="sb-nav-link-icon icon"><i class="fas fa-bookmark"></i></div>
                            Header
                        </a>
                        <a class="nav-link links" href="@Url.Action("Producto","Mantenedor")" style="--bg:#b145e9;">
                            <div class="sb-nav-link-icon icon"><i class="fas fa-boxes"></i></div>
                            Header
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>

        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        let menuToggle = document.getElementById("sidebarToggle");
        let sidebar = document.querySelector(".leftSide");

        menuToggle.onclick = function () {
            sidebar.classList.toggle('active');
        }
    </script>

</body>
</html>